*{
    margin-top: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    color: rgb(225, 64, 5);
    margin-top: 30px;
    padding: 20px;
    text-transform: uppercase;
}

body{
    background-color: rgb(223, 243, 243);
}
label{
    color: rgb(238, 79, 11);
margin-left: 20px;
margin-top: 20px;
}
.input{
    margin-bottom: 15px;
}
input{
    margin-top: 10px;
    margin-left: 20px;
    border: none;
}
input:focus{
    background-color: rgb(244, 244, 169);
}
input:hover{
    transform: scale(1.3);

}
button{
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
}
button:hover{
    transform: scale(1.3);
}